#container {
    width: 500px;
    min-height: 100vh;
    background-color: rgb(28, 23, 58);
    font-size: 0px;
}

.block {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: slateblue;
    border: 10px outset slateblue
}

.cornflower {
    background-color: cornflowerblue;
    border-color: cornflowerblue;
}

.grey {
    background-color: lightgrey;
    border-color: lightgray;
}

.turquoise {
    background-color: mediumturquoise;
    border-color: mediumturquoise;
}

.violet {
    background-color: violet;
    border-color: violet;
}