* {
    box-sizing: border-box
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.single-column {
    margin: 0px auto;
    width: 90%;
    max-width: 1200px;
}
.card-container {
    display: flex;
    gap: 25px;
    justify-content: center;
}
.card {
    border: 5px solid cadetblue;
    padding: 25px;
    text-align: center;
}
.card h3 {
    margin: 0px;
    font-size: 35px;
}
.card p {
    margin: 5px;
}