* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0px;
    /*font*/
    font-family: sans-serif;
}
.center-column {
    max-width: 500px;
    margin: 0px auto;
}
img {
    width: 30%;
    object-fit: cover;
}
#green #team {
    display: inline-flex;
    gap: 90px;
}