@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&family=Rubik+Mono+One&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}

#contrast-hero {
    background-image: url(../images/gallery-work/hi-res/urban-hi-res-1ui7.jpg);
    background-size: cover;
    background-position: bottom left;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#navbar a {
    text-decoration: none;
    color: black;
    margin: 25px;
}
#navbar {
    background-color: #ffff;
    height: 45px;
}
#contrast-hero .content {
    background-color: #ffffff55;
    padding: 40px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}
.content a {
    text-decoration: none;
    color: floralwhite;
    margin: 25px;
}
h1 {
    color: #ffff;
}
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 200px;
    gap: 0px;
    padding: 25px;
}
.gallery img {
    height: 100%;
}