* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

.single-column {
    width: 50%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.light-container {
    background-color: bisque;
    padding: 48px 0px;
}
.dark-container {
    background-color: rgb(93, 90, 41);
    padding: 44px 0px;
    color: bisque;
}
