
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}
.single-column {
    width: 90%;
    max-width: 1280px;
    margin: 0px auto;
}
.basic-gal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    border: 3px solid #d1bcff;
    padding: 25px;
}
.cropped-gal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 200px;
    gap: 25px;
    border: 3px solid #d1bcff;
    padding: 25px;
}
.cropped-gal img {
    height: 100%;
}
.hm-gal {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.hm-gal img {
    flex: 1;
    height: 250px;
}
.vm-gal {
    columns: 3 auto;
    column-gap: 25px;
}
.vm-gal img {
    margin: 25px;
}