* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
.imgage-container {
    object-fit: cover;
    display: flex;
}
.featured-image-column {
    display: flex;
}
.seller {
    display: flex;
}
.sidebar {
    display: flex;
}
.product {
    display: flex;
}